<div id="contenedor">

    <a href="../../assets/Currículum Vitae CV Diseñadora y Arquitecta Minimalista Rosa.pdf" target="_blank">
        <img src="../../assets/logo cv.png" alt="">
        <p>Curriculum</p>
    </a>

    <a id="ig" href="https://www.instagram.com/isaaali_?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
        target="_blank">
        <img src="../../assets/logo ig.png" alt="">
        <p>isaaali_</p>
    </a>

    <a href="https://mail.google.com/mail/?view=cm&fs=1&to=isadoraali58@gmail.com" target="_blank">
        <img src="../../assets/logo gmail.png" alt="">
        <p id="mail">isadoraali58&#64;gmail.com</p>
    </a>
</div>