<header>
  <button (click)="mostrar = 2">Producciones</button>
  <button (click)="mostrar = 3" id="btncrea">Creacion de contenido</button>
  <button (click)="mostrar = 4">Desfiles</button>
</header>

<section>

  @if(mostrar==1){

  }

  @if(mostrar==2){

  <div>
    <img src="../../assets/producciones/producciones15.JPG" alt="">
  </div>

  <div>
    <img src="../../assets/producciones/producciones16.JPG" alt="">
  </div>

  <div>
    <img src="../../assets/producciones/producciones17.JPG" alt="">
  </div>

  <div>
    <img src="../../assets/producciones/producciones12.JPG" alt="">
  </div>

  <div>
    <img src="../../assets/producciones/producciones13.JPG" alt="">
  </div>

  <div>
    <img src="../../assets/producciones/producciones14.JPG" alt="">
  </div>

  <div>
    <img src="../../assets/producciones/producciones2.png" alt="">
  </div>

  <div>
    <img src="../../assets/producciones/producciones3.png" alt="">
  </div>

  <div>
    <img src="../../assets/producciones/producciones4.png" alt="">
  </div>

  <div>
    <img src="../../assets/producciones/producciones5.png" alt="">
  </div>

  <div>
    <img src="../../assets/producciones/producciones6.png" alt="">
  </div>
  <div>
    <img src="../../assets/producciones/producciones10.jpeg" alt="">
  </div>

  <div>
    <img src="../../assets/producciones/producciones7.png" alt="">
  </div>

  <div>
    <img src="../../assets/producciones/producciones19.png" alt="">
  </div>

  <div>
    <img src="../../assets/producciones/producciones18.png" alt="">
  </div>


  }

  @if(mostrar==3){
  <div>
    <img src="../../assets/marcas/marcas2.png" alt="">
  </div>

  <div>
    <img src="../../assets/marcas/marcas1.png" alt="">
  </div>

  <div>
    <img src="../../assets/marcas/marcas3.png" alt="">
  </div>

  <div>
    <img src="../../assets/marcas/marcas8.png" alt="">
  </div>

  <div class="video">
    <video controls>
      <source src="../../assets/videos/video1.mp4" type="video/mp4">
    </video>
  </div>

  <div>
    <img src="../../assets/marcas/marcas5.png" alt="">
  </div>

  <div>
    <img src="../../assets/marcas/marcas6.png" alt="">
  </div>

  <div>
    <img src="../../assets/marcas/marcas7.png" alt="">
  </div>

  <div>
    <img src="../../assets/marcas/marcas4.png" alt="">
  </div>

  <div class="video">
    <video controls>
      <source src="../../assets/videos/video2.mp4" type="video/mp4">
    </video>
  </div>

  <div class="video">
    <video controls>
      <source src="../../assets/marcas/marcas9.mp4" type="video/mp4">
    </video>
  </div>

  <div class="video">
    <video controls>
      <source src="../../assets/marcas/marcas10.mp4" type="video/mp4">
    </video>
  </div>
  
  <div class="video">
    <video controls>
      <source src="../../assets/marcas/marcas11.mp4" type="video/mp4">
    </video>
  </div>
  
  <div class="video">
    <video controls>
      <source src="../../assets/marcas/marcas12.mp4" type="video/mp4">
    </video>
  </div>
  }

  @if(mostrar==4){
  <div class="video">
    <video controls>
      <source src="../../assets/desfiles/desfiles2.MOV" type="video/mp4">
    </video>
  </div>
  
  
  
  <div>
    <img src="../../assets/desfiles/desfiles4.JPG" alt="">
  </div>

  <div class="video">
    <video controls>
      <source src="../../assets/desfiles/desfiles5.MOV" type="video/mp4">
    </video>
  </div>
  
  <div>
    <img src="../../assets/desfiles/desfiles6.JPG" alt="">
  </div>
  
  <div>
    <img src="../../assets/desfiles/desfiles3.JPG" alt="">
  </div>

  <div>
    <img src="../../assets/desfiles/desfiles1.png" alt="">
  </div>

  <div class="video">
    <video controls>
      <source src="../../assets/desfiles/desfiles7.MOV" type="video/mp4">
    </video>
  </div>
  }

</section>