header{
    background-color: #f1dcdc;
    color: rgb(0, 0, 0);
    display: flex;
    align-items:center;
    height: 3rem;
}

button{
    font-size: 1.1rem;
    margin-left: 1rem;
}

section{
    display: grid;
    grid-template-columns: repeat(
        auto-fill,
        minmax(25rem,1fr)
    );
    width: 100%;
    height: 100%;
    padding: 16px;
}

div{
    width: 25rem;
    margin: 1rem;
    padding: .5rem;
    background-color: #f1dcdc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 2px #d1bfbf;
    box-sizing: border-box;
    transition: transform .3s;
    display: flex;
    align-items: center;
}

div:hover{
    transform: scale(1.1);
}

img{
    border-radius: 3px;
    width: 24rem;
}

video{
    width: 19rem; 
}

.video{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 768px){
    header{
        justify-content: center;
    }
}