<section>

    <div id="contenedor">
        <img src="../../assets/foto presentacion.png" alt="">
        <div id="texto">
            <p>Soy Isadora Ali, modelo formada en SUMA MODELS, donde realicé los cursos Escuela y Master. Participé en diversas producciones fotográficas trabajando con marcas, a su vez realicé contenido con algunas, como &#64;suenosyzapatos y por último, en desfiles trabajé junto con marcas como &#64;gdelaiglezia y &#64;skntienda.</p>
        </div>
    </div>
    
</section>
